table {
    width: 100%;
}

.airport-card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.airport-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.airport-full-width {
    width: 100%;
}
