.login-card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.login-full-width {
    width: 100%;
}
