@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
}
.basic-container {
    padding: 30px;
}
.version-info {
    font-size: 8pt;
    float: right;
    margin: 8px;
}
